body {
  height: 100%;
  width: 100%;
  background-color: #cce7de;
  color: black;
}
* {
  margin: 0px;
  padding: 0px;
}
.main {
  display: block;
  justify-content: center;
  justify-items: center;
  margin-top: 30px;
}

.box1 {
  height: 395px;
  width: 323px;
  background-color: #a7bcb5;
  display: block;
  justify-content: center;
}
.namebuttun {
  justify-content: center;
  display: block;
  align-items: center;
  margin-left: 60px;
  /* background-color: aqua; */
  height: 74px;
  width: 177px;
  margin-top: 7px;
}
.buttuns button {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for size */
  font-size: 16px; /* Text size */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s ease; /* Smooth hover effect */
  margin-left: 90px;
}

.buttuns button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.name h3 {
  margin-left: 75px;
  padding: 2px;
}
.name h2{
    margin-left: 100px;
    padding: px;
  }
.phtot {
  width: 63%; /* Adjust width as needed */
  height: 277px; /* Adjust height as needed */
  background-image: url("IMG_20230804_024621_665.jpg");
  background-size: cover; /* Ensures full coverage */
 background-repeat: no-repeat; /* Prevents repeating */
  margin-top: 90px;
  margin-left: 57px;
  justify-content: center;
  border-radius: 15px;
}
